<h1>Friends</h1>

<% if user_signed_in? %>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <% if friend.user == current_user %>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>

          <td><%= link_to 'Show', friend, class: "text-decoration-none" %></td>
          <td><%= link_to 'Edit', edit_friend_path(friend), class: "text-decoration-none" %></td>
          <td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to 'New Friend', new_friend_path, class: "btn btn-dark" %>

<% else %>
  <h4 class="mt-4 mb-3">Sign in to create your friends list! :)</h4>
  <p>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-dark" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-dark" %>
  </p>
<% end %>
