<div class="container-fluid text-sm-center p-5 bg-light rounded-5">
  <h1 class="display-2"><%= @friend.first_name %> <%= @friend.last_name %></h1>

  <p>
    <strong>Email:</strong>
    <%= @friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @friend.phone %>
  </p>
  <div class="mt-4">
    <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-dark" %>
    <%= link_to 'Back', friends_path, class: "btn btn-dark" %>
  </div>
</div>
